**/node_modules/**
.git/
.vscode/
**/volumes/**
**/target/**
**/deps/**
**/tmp/**
__pycache__/

infra/database/data/                                                                                                 
infra/monitoring/grafana/                                                                                            
infra/monitoring/prometheus  
infra/database/clickhouse/data/
infra/database/data/
infra/database/pg_0_data/
infra/database/pg_1_data/
infra/.env

beat/celerybeat-schedule
scrap-service/arsmate_cookies.json
beat/celerybeat-schedule
scrap-service/arsmate_cookies.json

beat/celerybeat-schedule
**/.terraform/**
**/terraform.tfstate**
