#!/bin/bash
set -e

apt-get update -y
apt-get install -y docker.io
systemctl enable docker
systemctl start docker

%{ if is_manager }
docker swarm init --advertise-addr $(hostname -I | awk '{print $1}')
docker network create --driver overlay --attachable app_overlay
docker swarm join-token -q worker > /root/worker_token.txt
%{ else }
sleep 20
token=$(ssh -o StrictHostKeyChecking=no root@${manager_ip} "cat /root/worker_token.txt")
docker swarm join --token $token ${manager_ip}:2377
%{ endif }
