#!/bin/bash
set -e

apt-get update -y
apt-get install -y docker.io
systemctl enable docker
systemctl start docker

# Redirigir la salida a un archivo de log para depuración
exec > /tmp/user_data.log 2>&1
set -x

# Configurar almacenamiento persistente para PostgreSQL
mkfs.ext4 /dev/disk/by-id/scsi-0DO_Volume_swarm-postgres-data
mkdir -p /mnt/data

mount /dev/disk/by-id/scsi-0DO_Volume_swarm-postgres-data /mnt/data
echo "/dev/disk/by-id/scsi-0DO_Volume_swarm-postgres-data /mnt/data ext4 defaults,nofail 0 2" >> /etc/fstab

mkdir -p /mnt/data/{timescaleDB/data,redis/data,prometheus,mediamtx,grafana,clickhouse/data,rabbitmq}

echo "${internal_pubkey}" >> /root/.ssh/authorized_keys
docker swarm init --advertise-addr $(hostname -I | awk '{print $1}')
docker network create --driver overlay --attachable ${network}
docker swarm join-token -q worker > /root/worker_token.txt